<h2>It`s about confidence</h2>

<p>Em 1971, ano em que os Emirados Árabes Unidos (EAU) se tornaram um país independente, o primeiro presidente dos EAU,
    o xeque Zayed bin Sultan al Nahayan, havia se referido a Israel como "o inimigo".[7] Em novembro de 2015, Israel
    anunciou que iria abrir um escritório diplomático nos EAU, a primeira vez em mais de uma década que Israel teve uma
    presença oficial no Golfo Pérsico.[8] Em agosto de 2019, o ministro das Relações Exteriores de Israel fez uma declaração
    pública sobre a cooperação militar com os EAU em meio ao aumento das tensões com o Irã.[9]

    Nos meses que antecederam o tratado, Israel trabalhou em segredo com os EAU para combater a pandemia de COVID-19. Os meios de
    comunicação social europeus informaram que o Mossad obteve discretamente equipamentos de saúde dos Estados do Golfo Pérsico.
    [10][11] Benjamin Netanyahu, o primeiro-ministro de Israel, relatou no final de junho de 2020 que os dois países estavam cooperando
    para combater o coronavírus e que o chefe do Mossad, Yossi Cohen, havia viajado várias vezes aos EAU. No entanto, os EAU pareceram
    minimizar isso algumas horas depois, revelando que se tratava apenas de um tratado entre empresas privadas, e não de nível estatal.[12]

    A medida também ocorre após o término do acordo nuclear com o Irã pelo governo Trump e aumentou as preocupações israelitas sobre o desenvolvimento
    de um programa nuclear iraniano, o que Teerã nega. Atualmente, o Irã apoia diferentes facções em guerras por procuração da Síria ao Iêmen, onde
    os EAU apoiaram a coalizão liderada pelos sauditas contra as forças alinhadas com o Irã que lutam por aquela região.[13] Nos últimos anos, as
    relações informais dos países se aqueceram consideravelmente e eles se envolveram em uma ampla cooperação não oficial com base em sua oposição
    conjunta ao programa nuclear do Irã e à influência regional.[14]

    O tratado também é oficialmente chamado de "Tratado Abraão" em homenagem a Abraão, o patriarca das três principais religiões abraâmicas do mundo
    — judaísmo, islamismo e cristianismo.[15]</p>





<br />
<br />
<a href="{% url 'home' %}"> Start Again </a>